body,
html {
    height: 100vh;
    margin: 0;

    a {
        text-decoration: none;
        color: white;
    }
}

* {
    box-sizing: border-box;
}

.Main-Container {
    margin: 0;
    display: grid;
    grid-template-columns: 10% 25% auto;
    grid-template-rows: auto 30% 30% 30%;
    grid-gap: 1em;
    grid-template-areas:
        "Sidebar header header header"
        "Sidebar Sect1 main main"
        "Sidebar Sect2 main main"
        "Sidebar Sect3 main main"
}

aside {
    grid-area: Sidebar;
    background: rgba(0, 0, 0, 0.61);

    nav {
        height: 100vh;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(auto, 3);
        grid-template-areas:
            "Home"
            "Bell"
            "User";

        a {
            display: block;
            text-align: center;
            margin: auto 0 auto 0;

            img {
                width: 48px;
            }
        }

        a:nth-of-type(1) {
            grid-area: Home;
        }

        a:nth-of-type(2) {
            grid-area: Bell;
        }

        a:nth-of-type(3) {
            grid-area: User;
        }
    }
}

header {
    grid-area: header;
    background: rgba(0, 0, 0, 0.18);
    border-bottom-left-radius: 34px 34px;

    .open-button {
        background-color: #636363;
        color: white;
        cursor: pointer;
        padding: 1em 1.5em;
        border-radius: 34px;
        border: none;
        position: fixed;
        top: 6px;
        right: 2%;
        height: auto;
    }
}

section:nth-of-type(1) {
    grid-area: Sect1;
    background: rgba(0, 0, 0, 0.18);
    border-radius: 34px 34px 34px 34px;

    .TitleCard {
        text-align: center;
    }

    .PCard {
        text-align: center;
        padding: 1em 2em 0 2em;
    }
}

section:nth-of-type(2) {
    grid-area: Sect2;
    background: rgba(0, 0, 0, 0.18);
    border-radius: 34px 34px 34px 34px;

    .TitleCard {
        text-align: center;
    }

    .PCard {
        text-align: center;
        padding: 1em 2em 0 2em;
    }
}

section:nth-of-type(3) {
    grid-area: Sect3;
    background: rgba(0, 0, 0, 0.18);
    border-radius: 34px 34px 34px 34px;

    .TitleCard {
        text-align: center;
    }

    .PCard {
        text-align: center;
        padding: 1em 2em 0 2em;
    }
}

main {
    grid-area: main;
    background: rgba(0, 0, 0, 0.18);
    border-radius: 34px 0 0 0;

    .open-button {
        background-color: #555;
        color: white;
        cursor: pointer;
        border-radius: 34px 34px 34px 34px;
        border: none;
        position: fixed;
        top: 14px;
        right: 28px;
        width: 100px;
        height: 32px;
    }

    .form-popup {
        display: none;
        position: fixed;
        top: 200;
        right: 0;
        border: 3px solid #f1f1f1;
        z-index: 9;
    }

    .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: white;
    }

    .form-container input {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

    .form-container input:focus {
        background-color: #ddd;
        outline: none;
    }

    .form-container .btn {
        background-color: #4caf50;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.8;
    }

    .form-container .cancel {
        background-color: red;
    }

    .form-container .btn:hover,
    .open-button:hover {
        opacity: 1;
    }

    .MainContent {
        display: none;

        h1 {
            width: auto;
            margin-left: 5rem;
            font-size: 2.5em;
            font-family: Arial, Helvetica, sans-serif;
        }

        p {
            width: 80%;
            text-align: center;
            margin: auto;
        }
    }
}