body,
html {
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

* {
    box-sizing: border-box;
}

.Main-Container {
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 80% auto;
    grid-template-areas:
        "header"
        "main"
        "footer"
}

header {
    grid-area: header;

    a {
        img {}

        .LogoTitle {
            display: inline;
        }
    }

    ul {
        li {
            display: inline;
        }

        display: inline;
    }
}

.Main-Area {
    grid-area: main;
}

footer {
    grid-area: footer;
}