body,
html {
  height: 100vh;
  margin: 0;
}

body a,
html a {
  text-decoration: none;
  color: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Main-Container {
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 30% auto;
      grid-template-columns: 10% 30% auto;
  -ms-grid-rows: auto 30% 30% 30%;
      grid-template-rows: auto 30% 30% 30%;
  grid-gap: 0.3em;
      grid-template-areas: "Sidebar header header header" "Sidebar Sect1 main main" "Sidebar Sect2 main main" "Sidebar Sect3 main main";
}

aside {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: Sidebar;
  background: rgba(0, 0, 0, 0.61);
}

aside nav {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: (3)[auto];
      grid-template-rows: repeat(auto, 3);
      grid-template-areas: "Home" "Bell" "User";
}

aside nav a {
  display: block;
  text-align: center;
  margin: auto 0 auto 0;
}

aside nav a img {
  width: 48px;
}

aside nav a:nth-of-type(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Home;
}

aside nav a:nth-of-type(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: Bell;
}

aside nav a:nth-of-type(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: User;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: header;
  background: rgba(0, 0, 0, 0.18);
  border-bottom-left-radius: 34px 34px;
}

header .open-button {
  background-color: #636363;
  color: white;
  cursor: pointer;
  padding: 1em 1.5em;
  border-radius: 34px;
  border: none;
  position: fixed;
  top: 6px;
  right: 2%;
  height: auto;
}

section:nth-of-type(1) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: Sect1;
  background: rgba(0, 0, 0, 0.18);
  border-radius: 34px 34px 34px 34px;
}

section:nth-of-type(1) .TitleCard {
  text-align: center;
}

section:nth-of-type(1) .PCard {
  text-align: center;
  padding: 1em 2em 0 2em;
}

section:nth-of-type(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: Sect2;
  background: rgba(0, 0, 0, 0.18);
  border-radius: 34px 34px 34px 34px;
}

section:nth-of-type(2) .TitleCard {
  text-align: center;
}

section:nth-of-type(2) .PCard {
  text-align: center;
  padding: 1em 2em 0 2em;
}

section:nth-of-type(3) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: Sect3;
  background: rgba(0, 0, 0, 0.18);
  border-radius: 34px 34px 0 0;
}

section:nth-of-type(3) .TitleCard {
  text-align: center;
}

section:nth-of-type(3) .PCard {
  text-align: center;
  padding: 1em 2em 0 2em;
}

main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: main;
  background: rgba(0, 0, 0, 0.18);
  border-radius: 34px 0 0 0;
}

main .open-button {
  background-color: #555;
  color: white;
  cursor: pointer;
  border-radius: 34px 34px 34px 34px;
  border: none;
  position: fixed;
  top: 14px;
  right: 28px;
  width: 100px;
  height: 32px;
}

main .form-popup {
  display: none;
  position: fixed;
  top: 200;
  right: 0;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

main .form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

main .form-container input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

main .form-container input:focus {
  background-color: #ddd;
  outline: none;
}

main .form-container .btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

main .form-container .cancel {
  background-color: red;
}

main .form-container .btn:hover,
main .open-button:hover {
  opacity: 1;
}

main .MainContent {
  display: none;
}

main .MainContent h1 {
  width: auto;
  margin-left: 5rem;
  font-size: 2.5em;
  font-family: Arial, Helvetica, sans-serif;
}

main .MainContent p {
  width: 80%;
  text-align: center;
  margin: auto;
}
/*# sourceMappingURL=Style.css.map */