body,
html {
  height: 100vh;
  margin: 0;
}

body a,
html a {
  text-decoration: none;
  color: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Main-Container {
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% 30% auto;
      grid-template-columns: 5% 30% auto;
  -ms-grid-rows: auto 31% 31% 31%;
      grid-template-rows: auto 31% 31% 31%;
  grid-gap: 0.2em;
      grid-template-areas: "Sidebar header header header" "Sidebar Sect1 main main" "Sidebar Sect2 main main" "Sidebar Sect3 main main";
}

aside {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: Sidebar;
  background: -webkit-gradient(linear, left top, right bottom, from(#fc466b), to(#3f5efb));
  background: linear-gradient(to bottom right, #fc466b, #3f5efb);
}

aside nav {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: (3)[auto];
      grid-template-rows: repeat(auto, 3);
      grid-template-areas: "Home" "Bell" "User";
}

aside nav a {
  display: block;
  text-align: center;
  margin: auto 0 auto 0;
}

aside nav a img {
  width: 48px;
}

aside nav a:nth-of-type(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Home;
}

aside nav a:nth-of-type(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: Bell;
}

aside nav a:nth-of-type(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: User;
}

aside:hover {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: Sidebar;
  background: #40514e;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: header;
  background: -webkit-gradient(linear, left top, right bottom, from(#eb5757), to(black));
  background: linear-gradient(to bottom right, #eb5757, black);
}

header .open-button {
  background-color: #555;
  color: white;
  cursor: pointer;
  opacity: 0.8;
  padding: 1em;
  border-radius: 34%;
  position: fixed;
  right: 2%;
  height: auto;
}

section:nth-of-type(1) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: Sect1;
  background: -webkit-gradient(linear, left top, right bottom, from(#7f7fd5), color-stop(#86a8e7), to(#91eae4));
  background: linear-gradient(to bottom right, #7f7fd5, #86a8e7, #91eae4);
}

section:nth-of-type(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: Sect2;
  background: -webkit-gradient(linear, left top, right bottom, from(#7f7fd5), color-stop(#86a8e7), to(#91eae4));
  background: linear-gradient(to bottom right, #7f7fd5, #86a8e7, #91eae4);
}

section:nth-of-type(3) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: Sect3;
  background: -webkit-gradient(linear, left top, right bottom, from(#7f7fd5), color-stop(#86a8e7), to(#91eae4));
  background: linear-gradient(to bottom right, #7f7fd5, #86a8e7, #91eae4);
}

main {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: main;
  background: -webkit-gradient(linear, left top, right bottom, from(#11998e), to(#38ef7d));
  background: linear-gradient(to bottom right, #11998e, #38ef7d);
}

main .form-popup {
  display: none;
  position: fixed;
  top: 200;
  right: 0;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

main .form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

main .form-container input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

main .form-container input:focus {
  background-color: #ddd;
  outline: none;
}

main .form-container .btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

main .form-container .cancel {
  background-color: red;
}

main .form-container .btn:hover,
main .open-button:hover {
  opacity: 1;
}
/*# sourceMappingURL=Style.css.map */