body,
html {
    height: 100vh;

    a {
        text-decoration: none;
        color: white;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 10% 30% auto;
    grid-template-rows: auto 31% 31% 31%;
    grid-gap: 0.2em;
    grid-template-areas:
        "Sidebar header header header"
        "Sidebar Sect1 main main"
        "Sidebar Sect2 main main"
        "Sidebar Sect3 main main"
}

aside {
    grid-area: Sidebar;
    background: linear-gradient(to bottom right, rgb(252, 70, 107), rgb(63, 94, 251));

    nav {
        height: 100vh;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(auto, 3);
        grid-template-areas:
            "Home"
            "Bell"
            "User";

        a {
            display: block;
            text-align: center;
            margin: auto 0 auto 0;

            img {
                width: 48px;
            }
        }

        a:nth-of-type(1) {
            grid-area: Home;
        }

        a:nth-of-type(2) {
            grid-area: Bell;
        }

        a:nth-of-type(3) {
            grid-area: User;
        }
    }
}

header {
    grid-area: header;
    background: linear-gradient(to bottom right, rgb(235, 87, 87), rgb(0, 0, 0));

    .open-button {
        background-color: #555;
        color: white;
        cursor: pointer;
        opacity: 0.8;
        padding: 1em;
        border-radius: 34%;
        position: fixed;
        right: 2%;
        height: auto;
    }
}

section:nth-of-type(1) {
    grid-area: Sect1;
    background: linear-gradient(to bottom right, rgb(127, 127, 213), rgb(134, 168, 231), rgb(145, 234, 228));
}

section:nth-of-type(2) {
    grid-area: Sect2;
    background: linear-gradient(to bottom right, rgb(127, 127, 213), rgb(134, 168, 231), rgb(145, 234, 228));
    ;
}

section:nth-of-type(3) {
    grid-area: Sect3;
    background: linear-gradient(to bottom right, rgb(127, 127, 213), rgb(134, 168, 231), rgb(145, 234, 228));
    ;
}

main {
    grid-area: main;
    background: linear-gradient(to bottom right, rgb(17, 153, 142), rgb(56, 239, 125));

    .form-popup {
        display: none;
        position: fixed;
        top: 200;
        right: 0;
        border: 3px solid #f1f1f1;
        z-index: 9;
    }

    .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: white;
    }

    .form-container input {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

    .form-container input:focus {
        background-color: #ddd;
        outline: none;
    }

    .form-container .btn {
        background-color: #4caf50;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.8;
    }

    .form-container .cancel {
        background-color: red;
    }

    .form-container .btn:hover,
    .open-button:hover {
        opacity: 1;
    }
}