body,
html {
    height: 100vh;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.Main-Container {
    margin: 0;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: repeat(auto, 3);
    grid-template-areas:
        "Sidebar Main"
        "Sidebar Main"
        "Sidebar Main";
}

.Aside {
    grid-area: Sidebar;
    background-color: red;
}

.EditArea {
    grid-area: Main;
    background-color: orange;
}